<div class="container">
  <div class="topo">
    <h2>Lista de Alunos</h2>
    <a routerLink="/alunos/novo" class="botao">Novo Aluno</a>
  </div>

  <table *ngIf="alunos.length > 0; else semAlunos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Idade</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Objetivo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluno of alunos">
        <td>{{ aluno.id }}</td>
        <td>{{ aluno.nome }}</td>
        <td>{{ aluno.email }}</td>
        <td>{{ aluno.idade }}</td>
        <td>{{ aluno.peso }}</td>
        <td>{{ aluno.altura }}</td>
        <td>{{ aluno.objetivo }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #semAlunos>
    <p>Nenhum aluno cadastrado.</p>
  </ng-template>
</div>